
{{ partial "header.html" . }}
<main>

  <div class='post-background'>
    <div class='post-gradient'></div>

    {{ partial "simple-nav.html" . }}


    <div class='container-toTop'>
      <div class='toTop-spacing'>
        <div class='toTop-hidden'></div>
        <a href="#" class="toTop is-hidden" aria-label="Scroll to top">
          {{ partial "icon.html" "chevron-up" }}
        </a>
      </div>
    </div>
  </div>

  <article class="article">

    <section class="post__info">
      {{ range .Params.categories }}
        <p class='item__meta-category single'>{{ . }}</p>
      {{ end }}

      <h1 class="post__title">{{ .Title }}</h1>

      {{ if .Params.buttons }}
        <div class="post__links">
          {{ range .Params.buttons }}
            <a href={{ .link }}><span class='item__meta-link post-links'>{{ .text }}</span></a>
          {{ end }}
        </div>
      {{ end }}

      {{ if .Params.tags }}
      <div class='post__tags'>
        <p class='post__tags-meta'>Tags:</p>
        {{ range .Params.tags }}
            <button class='item__meta-tag post-tag' aria-label='Back to all posts filtered by {{ . }}'>{{ . }}</button>
        {{ end }}
      </div>
      {{ end }}

      {{ if .Params.date }}
      <div class="post__date">
        {{ if .Params.displayDate }}
        <p>{{ .Params.displayDate }} • {{ .ReadingTime }} min read</p>
        {{ else }}
        <p>{{ .Date.Format "January 2 2006" }} • {{ .ReadingTime }} min read</p>
        {{ end }}
      </div>
      {{ end }}

      {{ if .Params.authors }}
      <div class='post__authors'>
        {{- range .Params.authors }}
          <a href="{{ $.Site.Params.orcid }}" ref="author">
            <div class='post__author'>
              <img src="{{ "images/introImage.svg" | relURL }}" alt="Ahmed Azeez Hasan, PhD" class='post__author-img'>
              <div class='post__author-social'>
                <span class='post__author-name'>{{ $.Site.Params.author }}</span>
                <span class='post__author-website'>ORCID</span>
              </div>
            </div>
          </a>
        {{ end }}
      </div>
      {{ end }}

      {{ if .Params.image }}
        <img class="post__image" src="{{ .Params.image }}" alt="{{ .Params.imageAlt }}" class="img-responsive">
        {{ if .Params.imageCredit }}
          <p class="post__image-credit">Image by <a href="{{ .Params.imageCreditLink }}">{{ .Params.imageCredit }}</a>
            {{ if .Params.imageSrc }}
              on <a href="{{ .Params.imageSrcLink }}">{{ .Params.imageSrc }}</a>
            {{ end }}
          </p>
        {{ end }}
      {{ end }}


    </section>

    <section class="post__content">
      {{ .Content }}
    </section>

    {{ if .Params.disqus }}
    <div class='disqus'>
      <button class='disqus-show'><span class="show-message">Show Comments</span> {{ partial "icon.html" "bubbles" }}</button>
      <div class='disqus-comments' hidden>
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
    {{ end }}
  </article>

</main>
<footer class='footer__single'>
  {{ partial "footer.html" . }}
</footer>
