<section class="intro">
  <div class='intro-container'>

    <img class='introImage' src='images/introImage.svg' alt='Illustration of a researcher working with data'>

    <div class="intro-content">

      <div class="intro-welcome">
        <h1 class='name'>Ahmed Azeez</h1>
      </div>

      <div class="intro-sub">
        <p>Public health researcher and lecturer specialising in infectious disease epidemiology, surveillance, modelling, biostatistics, and instrument development.</p>
      </div>

    </div>

  </div>
</section>
