<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ $siteImage := "images/introImage-light.png" | absURL }}
{{ if eq .URL "/" }}
  <title>{{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Site.Title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta property="og:description" content="{{ .Site.Params.description }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ $siteImage }}">
{{ else }}
  <title>{{ .Title }}{{ with .Params.subtitle }} - {{ . }} {{ end }} - {{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ .Permalink }}">

  {{ if .Params.thumbnail }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ .Permalink }}{{ .Params.thumbnail }}">
  {{ else if .Params.image }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ .Permalink }}{{ .Params.image }}">
  {{ else }}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ $siteImage }}">
  {{ end }}

  <meta name="description" content="{{ .Description | default .Site.Params.description }}">
  <meta property="og:description" content="{{ .Description | default .Site.Params.description }}">
{{ end }}

<meta name="author" content="{{ .Site.Params.author }}">
<meta name="orcid" content="{{ .Site.Params.orcid }}">
